*{
    margin:0;
    padding:0;
}
h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}
.choice{
    width: 200px;
    height: 200px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top:3rem;
}

.choice:hover{
    cursor: pointer;
    background-color:red;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 2rem;
}

#user-score ,#comp-score{
    font-size: 4rem;
}
#msg{
    font-size:2rem;
    background-color:black;
    display: inline;
    height: 2rem; 
    line-height:2rem;
    border-radius: 1rem;
    padding:1rem;
    color:white;
}
.msg-container{
    text-align: center;
    margin-top: 3rem;
}